.input {
    padding: 10px;
    margin: 5px 0;
    border: 1x solid rgba(11, 210, 236, 0.692);
    border-radius: 10px;
    width: 30%;
    box-sizing: border-box;
  }
body{
  background-color: aqua;
}
.log_text{
  font-size: 16;
  color: None;
}